/* ##
Color Options
If you've chosen your favorite color scheme, you can delete the others
---------------------------------------------------------------------------------------------------- */

/* ## Winter Tones
--------------------------------------------- */

.utility-pro-winter-tones .home-gallery .fa,
.utility-pro-winter-tones a,
.utility-pro-winter-tones .entry-content a {
	color: $red;
}

.utility-pro-winter-tones .sticky.entry {
	border-top-color: $red;
}

.utility-pro-winter-tones .call-to-action-bar .button,
.utility-pro-winter-tones .button,
.utility-pro-winter-tones .entry-content .button,
.utility-pro-winter-tones input[type="submit"] {
	background: $red;
	border: 1px solid $white;
	color: $white;
}

.utility-pro-winter-tones .call-to-action-bar .button:hover,
.utility-pro-winter-tones .button:hover,
.utility-pro-winter-tones .entry-content .button:hover,
.utility-pro-winter-tones input[type="submit"]:hover {
	background: $white;
	border: 1px solid $red;
	color: $red;
}

.utility-pro-winter-tones .utility-bar,
.utility-pro-winter-tones .site-footer {
	background-color: rgba($red, 0.9);
}
